<!DOCTYPE html>
<html>
<head>
			<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Text editor</title>
	<center><h1>Online Notepad Editor</h1></center>
</head>
	
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style type="text/css">
body {
  margin: 0;
   background-color: #E6E6FA;
}

.topnav {
  overflow: hidden;
  background-color: #191970;
   font-family: Arial;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
 .dropdown .dropbtn:hover 
{
	background-color:#ddd;
	color: black;

}

.topnav a.active {
  background-color: #3B5998;
  color: white;
}

.topnav-right {
  float: right;
}
.dropdown .dropbtn {
    font-size: 19px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    
    margin: 0;
}
.dropdown .dropbtn1 {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
   
    background-color: inherit;
  
    margin: 0;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content input[type=button]  {
    float: none;
    color: black;
     border: none;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 110px;
    height: 45px;
     background-color: #f9f9f9;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 19px;
}
.dropdown-content input[type=submit]
{
      float: none;
    color: black;
     border: none;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 160px;
    height: 45px;
     background-color: #f9f9f9;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 19px;
}
.dropdown-content input[type=button]:hover
{
   background-color: #ddd;

}
.dropdown-content input[type=submit]:hover
{
  background-color: #ddd;
}
.dropdown-content a:hover {
    background-color: #ddd;

}
.dropdown:hover .dropdown{
	display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
<body onload="loadusername();">

<b style="color: black;">WELCOME...<b style="color:#000080;" id="user_name"></b>!!</b>
     <br>
     <form id="form" name="form" >
      
<div class="topnav">

	<div class="dropdown">
		<button class="dropbtn1">
  <a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;File &nbsp;&nbsp;&nbsp;&nbsp;   </a></button>
  <div class="dropdown-content"  >
  
    <input type="submit" value="Save" id="submit" onclick="saveNote(event)" />
    <input type="submit" name="content_name" id="content_name" onclick="saveas(event)" value="Save as" style="min-width: 160px;">
     <input type="submit" value="Make a copy" onclick="copy(event)" style="min-width: 160px;" name="">
  	<input type="submit" value="Rename" onclick="rename(event)" style="min-width: 160px;" name="">
  	
  	<input type="button" onclick="pdf()" value="Export as PDF" name="" style="min-width: 160px;">
  </div>
  </div>

  <div class="dropdown">
 <button class="dropbtn1">
  <a href="">&nbsp;&nbsp;Tools&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</a>
</button>
<div class="dropdown-content" >
	<input type="button" name="" value="B" onclick="document.execCommand('bold', false, null);" style="font-weight: bold; " >
	<input type="button" value="I" onclick="document.execCommand('italic', false, null);" style="font-style: italic; 

  ">
	<input type="button" value="U" href="" onclick="document.execCommand('underline', false, null);" style="text-decoration: underline;">
<input type="button" value="Delete"  onclick="document.execCommand('delete', false, null);">
</div>
</div>
   <div class="dropdown"> 
   	<button class="dropbtn1">
   		 <a href="">Fontsize&nbsp;&nbsp;&nbsp; &nbsp;</a>
       
   	</button>
   	<div class="dropdown-content" style="min-width: 80px;">
   		<input type="button" value="8" id="8" name="8" onclick="fontsiz(this)">
   		<input type="button" value="9" onclick="fontsiz(this);">
   	<input type="button" value="12" onclick="fontsiz(this);">
    <input type="button" value="16" onclick="fontsiz(this);">
   	<input type="button" value="18" onclick="fontsiz(this);">
    <input type="button" value="20" onclick="fontsiz(this);">
    <input type="button" value="22" onclick="fontsiz(this);">
    <input type="button" value="24" onclick="fontsiz(this);">
    <input type="button" value="36" onclick="fontsiz(this);">	
    <input type="button" value="48" onclick="fontsiz(this);">
    <input type="button" value="72" onclick="fontsiz(this);">
   		

   	</div>
   </div>
   <div class="dropdown"> 
    <button class="dropbtn1">
       <a href="">Fontfamily</a>
       
    </button>
    <div class="dropdown-content" style="">
      <input type="button" value="Arial"  onclick="fontfam(this)" style="min-width: 170px;">
      <input type="button" value="Sans Serif" onclick="fontfam(this); " style="min-width: 170px;">
    <input type="button" value="Comic Sans MS" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Times New Roman" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Courier New" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Verdana" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Trebuchet MS" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Arial Black" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Impact" onclick="fontfam(this);" style="min-width: 170px;">  
    <input type="button" value="Bookman" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Garamond" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Palatino" onclick="fontfam(this);" style="min-width: 170px;">
    <input type="button" value="Georgia" onclick="fontfam(this);" style="min-width: 170px;">
      

    </div>
   </div>
  <div class="dropdown" style="float: right;">
    <button class="dropbtn" style="display: block;">
      <i class="fa fa-user fa-lg fa-fw" align="right" aria-hidden="true"></i>Go to profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <div class="dropdown-content" style="min-width: 160px;">

      <a href="/savedfiles">your files</a>
      <a href="/" onclick="delcookie()">Log out</a>
     <a href="">Help</a>
    </div>
    
  </div> 
</div>
<div contenteditable="true" id="content" spellcheck="true" name="content" style="height: 600px; border: 1px solid black; border-radius:5px">
			<%- content %>
		</div>

</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript">

	 function pdf()
		{
		 var doc = new jsPDF();
    
    var specialElementHandlers = {
        '#bypassme': function (element, renderer) {
            return true;
        }
    };

    doc.fromHTML(
    $('#content').text(), 
    10, 
    10, 
    {
        'width': 75,
        'elementHandlers': specialElementHandlers
    });

    doc.save('Test.pdf');
       }

      
     function fontsiz(fontsize)
    {
      
  var sel = window.getSelection(); 
  if (sel.rangeCount) {

    var e = document.createElement('span');
    e.style = 'font-size:' + fontsize.value + 'px;'; 
    e.innerHTML = sel.toString();
       
  
    var range = sel.getRangeAt(0);
    range.deleteContents(); 
    range.insertNode(e); 
  }
}
  function fontfam(fontfamily)
  {
    var sel = window.getSelection(); 
  if (sel.rangeCount) {

    var e = document.createElement('span');
    e.style = 'font-family:' + fontfamily.value + ';'; 
    e.innerHTML = sel.toString();
      
  
    var range = sel.getRangeAt(0);
    range.deleteContents(); 
    range.insertNode(e); 
  }
  }    
</script>
<script src="js/script.js">
		
	</script>
</body>
</html>