<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
</head>
<style type="text/css">
	input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
   }
   input[type="number"] {
    -moz-appearance: textfield;
}
</style>
<body>

<center><img src="https://www.askideas.com/media/07/Go-For-It-Good-Luck-Smiley-Picture.gif" height="450px" width="450px" align="right" ></center>
<form style="text-align: center; font-size: 30px; background-color: lightgrey; text-align:center; border:1px solid black; padding: 75px; width: 450px; margin: 75px;" onsubmit="savelogin(event)" name="login" id="login" />

<b>login Form</b>
<br><br>  User-id:   <input type="number" id="userid" name="userid" width="60" style="height: 25px;"><br><br>

Password: <input type="password"  id="password" name="password" placeholder="" width="60" style="height: 25px;"><br><br>
<input type="submit"  value="log in" style="font-size: 20px;" /> <br><br>



</form>



</body>
<script src="js/script.js"></script>

</html>