<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style type="text/css">
     .inputwithIcon input[type=text]
     {
     	padding-left: 25px;
      
        background-color: lightgrey;
     }
	.inputwithIcon {
		position: relative;
		border-radius: 4px;
	}
	.inputwithIcon i
	{
		position: absolute;
		left: 0;
		right: 1;
	    background-color:  #3B5998;
		padding: 7px 5px 13px 14px;
		color:white;
		size: 10px;
	}

 ::placeholder {
   	color: white;
   }
</style>
<body style="background-color:  #E6E6FA;">
<center>
<form style="  background-color: white;  border:1px solid black; padding: 25px; width: 540px;  height: 440px; border-radius: 4px; margin: 75px;" name="resetpwd" id="resetpwd" onsubmit="validate();" />
<b style="font-size: 44px; text-align: right;padding-right:  200px;">Change Password</b><br><br><br><br>
	<div class="inputwithIcon">
		<input type="Password" id="password" placeholder=" New Password"  style="height: 33px; font-size: 18px; width: 60%;padding-right: 105px; background-color: lightgrey; border:none; " name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="fa fa-unlock-alt fa-lg fa-fw" aria-hidden="true" style="width: 20px; height: 15px;"></i>
	
	</div>
	<br>
	
	<div class="inputwithIcon">
	<input type="password" id="reenterpwd" size="20" placeholder=" Confirm password" style="height: 33px; font-size: 18px; padding-right: 50px; background-color: lightgrey; width: 70%; border: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<i class="fa fa-key fa-lg fa-fw" aria-hidden="true" style="width: 20px; height: 15px;"></i>
</div><br><br><br><br>
<div align="left">
<input type="submit"  " value="Reset Password" style="font-size: 20px; background-color: #3B5998; border: none; color: white; height: 35px; width: 40%; border-radius: 4px; " ></div>

<script type="text/javascript">
	function validate()
	{
		if((document.resetpwd.password.value!=document.resetpwd.reenterpwd.value) || (document.resetpwd.password.value==""))
		{
          alert("Passwords does not match...must fill correctly");
		}
		else
		{
			pwd(event);
			
		}
	}
</script>
<script type="text/javascript">
	function pwd(e)
	{
		e.preventDefault();
		let xhr= new XMLHttpRequest();
    xhr.onreadystatechange = function(){
        if(this.status ==200 && this.readyState ==4){
            let data=JSON.parse(this.responseText);
       if(data.code==1)
       {
       	alert("Password upadated successfully!")
         window.location.href='/login';
       } 
    xhr.onerror = function(){
        alert("error");
    }
   }
   }
     xhr.open('POST', '/pwdupdate',true);
     xhr.setRequestHeader('Content-Type','application/json');
    xhr.send(JSON.stringify({
       password:document.resetpwd.password.value
     
       
    }));
	}
</script>
</body>
</htm