<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	
	
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style type="text/css">
     .inputwithIcon input[type=text]
     {
     	padding-left: 50px;
     }
	.inputwithIcon {
		position: relative;
	}
	.inputwithIcon i
	{
		position: absolute;
		left: 0;
		top: 1px;
		
		padding: 6px 8px 1px 1px;
		color:#A9A9A9;
	}


</style>
<body>

	

<form style=" font-size: 30px;" name="notepad" id="notepad" onsubmit="" >
<table cellpadding="9" width="90%" style= "height:70%;" bgcolor="C0C0C0" align="center">
<tr><td></td><td>
<center><font size=6><b><u>ONLINE NOTEPAD EDITOR</u></b></font></center>

</td></tr>
<tr><td></td></tr>
<tr>
<td></td><td></td><td>
<b style="font-style: italic; ">Register your account today!!</b>
</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr>
	<td>UserId</td>
	<td>
	<div class="inputwithIcon">
		<input type="number" id="userid" size="30" placeholder="" style="height: 35px; font-size: 20px; width: 70%; padding-left: 50px;" name="">
		<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
		</div>
	</td>
</tr>
<tr>
	<td>Username</td>
	<td>
	<div class="inputwithIcon">
		<input type="text"  id="username" size="30" style="height: 35px; font-size: 20px; width: 70%;" >
		<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
		</div>
	</td>
</tr>
<tr>
	<td>Password</td>
	<td>
	<div class="inputwithIcon">
		<input type="Password" id="password" size="30" style="height: 35px; font-size: 20px; width: 70%; padding-left: 50px;" name="">
		<i class="fa fa-unlock-alt fa-lg fa-fw" aria-hidden="true"></i>
	</td>
	</div>
</tr>
<tr>
	<td>Reenter password</td>
	<td>
	<div class="inputwithIcon">
	<input type="password" id="Reenterpwd" size="30" style="height: 35px; font-size: 20px; width: 70%; padding-left: 15%;">
	<i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
	</td>
</tr>
<tr><td></td></tr>	
<tr><td></td>
<td><center>
<input type="submit" onclick="validate(); " value="Create An Account" style="font-size: 20px;" >
</center></td>
<td>
<a href="/login" style=" font-size: 20px;">Already have an account?</a>
</td>
</tr>
</table>
</form>
</body>
<script type="text/javascript">
	function validate()
	{
		if((document.notepad.userid.value=="") || (document.notepad.password.value!=document.notepad.Reenterpwd.value) || (document.notepad.password.value==""))
		{
			alert("Something went wrong ..try again!");
		
         }
		else
		{
			savedata(event);
		}
		
	}
</script>
<script src="js/script.js"></script>

</html>