<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	
	
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style type="text/css">
     .inputwithIcon input[type=text]
     {
     	padding-left: 25px;
      
        background-color: lightgrey;
     }
	.inputwithIcon {
		position: relative;
		border-radius: 4px;
	}
	.inputwithIcon i
	{
		position: absolute;
		left: 0;
		right: 1;
	    background-color:  #3B5998;
		padding: 7px 5px 13px 14px;
		color:white;
		size: 10px;
	}

 ::placeholder {
   	color: white;
   }
</style>
<body style="background-color:  #E6E6FA;">
	<center>
<form style="  background-color: white;  border:1px solid black; padding: 25px; width: 380px;  height: 440px; border-radius: 4px; margin: 75px;" name="notepad" id="notepad"  />
<b style="font-size: 50px; text-align: right;padding-right:  200px;">Sign up</b>
	<p style="font-style: italic; padding-right: 160px; ">Register your account today!!</p><br>
	<div class="inputwithIcon">
				<input type="text"  id="username" size="30" style="height: 33px; font-size: 18px; width: 70%; border: none;" placeholder="Username " >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="fa fa-user fa-lg fa-fw" aria-hidden="true " style="width: 20px; height: 15px;"></i>
		</div> 
	<br>
	<div class="inputwithIcon">
		<input type="email" id="email" size="30" placeholder="Email" style="height: 33px; font-size: 18px; width: 70%; padding-left: 25px; background-color: lightgrey; border: none; " name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true" style="width: 20px; height: 15px;"></i>
		</div>
	<br>
	<div class="inputwithIcon">
		<input type="Password" id="password" placeholder="Password" size="30" style="height: 33px; font-size: 18px; width: 70%;padding-left: 25px;background-color: lightgrey; border:none; " name="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i class="fa fa-unlock-alt fa-lg fa-fw" aria-hidden="true" style="width: 20px; height: 15px;"></i>
	
	</div>
	<br>
	
	<div class="inputwithIcon">
	<input type="password" id="Reenterpwd" size="30" placeholder="Reenter password" style="height: 33px; font-size: 18px; padding-left: 25px;background-color: lightgrey; width: 70%; border: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<i class="fa fa-key fa-lg fa-fw" aria-hidden="true" style="width: 20px; height: 15px;"></i>
</div><br><br>
	<div align="left">
<input type="submit" onclick="validate(); " value="Sign up" style="font-size: 20px; background-color: #3B5998; border: none; color: white; height: 35px; width: 30%; border-radius: 4px; " ></div>
<br>
<div align="left">
Alredy have an account?
<a href="/login" style=" font-size: 15px; color: #3B5998; text-decoration-line: none; ">Sign in here.</a>
</div>
</form>
</center>

<script type="text/javascript">
	function validate()
	{

		if((document.notepad.username.value=="") || (document.notepad.password.value!=document.notepad.Reenterpwd.value) || (document.notepad.password.value==""))
		{
			alert("Something went wrong ..try again!");
		
         }
		else
		{
			savedata(event);
			savelocal();
		}
		
	}
	 function savelocal(){
    	/* localStorage.setItem('userData', JSON.stringify({
                
                username: document.notepad.username.value
                
            }));*/
    	              document.cookie = "username=" +document.notepad.username.value ;


    }
</script>
<script src="js/script.js"></script>
</body>
</html>